/* Start header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: transparent;
}

.search-bar {
  position: relative;
  width: 450px;
  height: 44px;
  background-color: var(--background-color2);
  border-radius: 8px;
  /* display: inline-block; */
}

.search-bar .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 450px;
}

.search-bar .text-input {
  padding: 10px 10px 18px 35px;
  border-radius: 5px;
  background-color: var(--background-color2);
  color: white;
  width: 100%;
  border: none;
}

.search-bar .text-input::placeholder {
  color: white;
}

.header .user-setting {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.user-setting .notifcations {
  width: 44px;
  height: 44px;
  background-color: var(--background-color2);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifcations .icon {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/notification.png);
  background-size: 100% 100%;
}

.user-setting .profile {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.profile .photo {
  position: relative;
  width: 44px;
  height: 44px;
  background-color: var(--text-10);
  border-radius: 10px;
}

.profile .name {
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--text-100);
  line-height: normal;
}

/* end header  */
