/* start live market  */
.live-market {
  position: relative;
  width: 738px;
  height: 173px;
  background-color: var(--background-color2);
  border-radius: 15px;
}

.live-market .frame {
  display: flex;
  width: 684px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  left: 30px;
}

.frame .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--background-color1);
  position: relative;
  flex: 0 0 auto;
}

.live-market .full-table {
  display: inline-flex;
  align-items: flex-end;
  gap: 134px;
  position: absolute;
  top: 82px;
  left: 30px;
}

.full-table .table {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.full-table .table .coin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.table .coin .text-4 {
  position: relative;
  width: 58px;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-10);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.coin .div-3 .icon {
  position: relative;
  width: 32px;
  height: 32px;
}

.coin .div-3 .date {
  width: 104px;
  color: var(--text-100);
  letter-spacing: 0.28px;
  line-height: normal;
  position: relative;
  opacity: 0.8;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 14px;
}
.table .data {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.table .data .text-5 {
  position: relative;
  width: 70px;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-10);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.table .data .date-2 {
  width: fit-content;
  color: var(--secondary-100);
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  position: relative;
  opacity: 0.8;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 14px;
}

/* end .live-market */
