
:root {
    --hitbox: rgba(255, 255, 255, 0);
    --themeprimary: rgba(13, 110, 253, 1);
    --themesecondary: rgba(108, 117, 125, 1);
    --themesuccess: rgba(25, 135, 84, 1);
    --themedanger: rgba(220, 53, 69, 1);
    --themewarning: rgba(255, 193, 7, 1);
    --themeinfo: rgba(13, 202, 240, 1);
    --themelight: rgba(248, 249, 250, 1);
    --themedark: rgba(33, 37, 41, 1);
    --themeborder: rgba(222, 226, 230, 1);
    --body-textbody-color: rgba(33, 37, 41, 1);
    --graywhite: rgba(255, 255, 255, 1);
    --gray-100: rgba(248, 249, 250, 1);
    --gray-200: rgba(233, 236, 239, 1);
    --gray-300: rgba(222, 226, 230, 1);
    --gray-400: rgba(206, 212, 218, 1);
    --gray-500: rgba(173, 181, 189, 1);
    --gray-600: rgba(108, 117, 125, 1);
    --gray-700: rgba(73, 80, 87, 1);
    --gray-800: rgba(52, 58, 64, 1);
    --gray-900: rgba(33, 37, 41, 1);
    --grayblack: rgba(0, 0, 0, 1);
    --blue-100: rgba(231, 241, 255, 1);
    --blue-200: rgba(158, 197, 254, 1);
    --blue-300: rgba(110, 168, 254, 1);
    --blue-400: rgba(61, 139, 253, 1);
    --blue-500: rgba(13, 110, 253, 1);
    --blue-600: rgba(10, 88, 202, 1);
    --blue-700: rgba(8, 66, 152, 1);
    --blue-800: rgba(5, 44, 101, 1);
    --blue-900: rgba(3, 22, 51, 1);
    --indigo-100: rgba(224, 207, 252, 1);
    --indigo-200: rgba(194, 159, 250, 1);
    --indigo-300: rgba(163, 112, 247, 1);
    --indigo-400: rgba(133, 64, 245, 1);
    --indigo-500: rgba(102, 16, 242, 1);
    --indigo-600: rgba(82, 13, 194, 1);
    --indigo-700: rgba(61, 10, 145, 1);
    --indigo-800: rgba(41, 6, 97, 1);
    --indigo-900: rgba(20, 3, 48, 1);
    --purple-100: rgba(226, 217, 243, 1);
    --purple-200: rgba(197, 179, 230, 1);
    --purple-300: rgba(169, 142, 218, 1);
    --purple-400: rgba(140, 104, 205, 1);
    --purple-500: rgba(111, 66, 193, 1);
    --purple-600: rgba(89, 53, 154, 1);
    --purple-700: rgba(67, 40, 116, 1);
    --purple-800: rgba(44, 26, 77, 1);
    --purple-900: rgba(22, 13, 39, 1);
    --pink-100: rgba(247, 214, 230, 1);
    --pink-200: rgba(239, 173, 206, 1);
    --pink-300: rgba(230, 133, 181, 1);
    --pink-400: rgba(222, 92, 157, 1);
    --pink-500: rgba(214, 51, 132, 1);
    --pink-600: rgba(171, 41, 106, 1);
    --pink-700: rgba(128, 31, 79, 1);
    --pink-800: rgba(86, 20, 53, 1);
    --pink-900: rgba(43, 10, 26, 1);
    --red-100: rgba(248, 215, 218, 1);
    --red-200: rgba(241, 174, 181, 1);
    --red-300: rgba(234, 134, 143, 1);
    --red-400: rgba(227, 93, 106, 1);
    --red-500: rgba(220, 53, 69, 1);
    --red-600: rgba(176, 42, 55, 1);
    --red-700: rgba(132, 32, 41, 1);
    --red-800: rgba(88, 21, 28, 1);
    --red-900: rgba(44, 11, 14, 1);
    --orange-100: rgba(255, 229, 208, 1);
    --orange-200: rgba(254, 203, 161, 1);
    --orange-300: rgba(254, 178, 114, 1);
    --orange-400: rgba(253, 152, 67, 1);
    --orange-500: rgba(253, 126, 20, 1);
    --orange-600: rgba(202, 101, 16, 1);
    --orange-700: rgba(152, 76, 12, 1);
    --orange-800: rgba(101, 50, 8, 1);
    --orange-900: rgba(51, 25, 4, 1);
    --yellow-100: rgba(255, 243, 205, 1);
    --yellow-200: rgba(255, 230, 156, 1);
    --yellow-300: rgba(255, 218, 106, 1);
    --yellow-400: rgba(255, 205, 57, 1);
    --yellow-500: rgba(255, 193, 7, 1);
    --yellow-600: rgba(204, 154, 6, 1);
    --yellow-700: rgba(153, 116, 4, 1);
    --yellow-800: rgba(102, 77, 3, 1);
    --yellow-900: rgba(51, 39, 1, 1);
    --green-100: rgba(209, 231, 221, 1);
    --green-200: rgba(163, 207, 187, 1);
    --green-300: rgba(117, 183, 152, 1);
    --green-400: rgba(71, 159, 118, 1);
    --green-500: rgba(25, 135, 84, 1);
    --green-600: rgba(20, 108, 67, 1);
    --green-700: rgba(15, 81, 50, 1);
    --green-800: rgba(10, 54, 34, 1);
    --green-900: rgba(5, 27, 17, 1);
    --teal-100: rgba(210, 244, 234, 1);
    --teal-200: rgba(166, 233, 213, 1);
    --teal-300: rgba(121, 223, 193, 1);
    --teal-400: rgba(77, 212, 172, 1);
    --teal-500: rgba(32, 201, 151, 1);
    --teal-600: rgba(26, 161, 121, 1);
    --teal-700: rgba(19, 121, 91, 1);
    --teal-800: rgba(13, 80, 60, 1);
    --teal-900: rgba(6, 40, 30, 1);
    --cyan-100: rgba(207, 244, 252, 1);
    --cyan-200: rgba(158, 234, 249, 1);
    --cyan-300: rgba(110, 223, 246, 1);
    --cyan-400: rgba(61, 213, 243, 1);
    --cyan-500: rgba(13, 202, 240, 1);
    --cyan-600: rgba(10, 162, 192, 1);
    --cyan-700: rgba(8, 121, 144, 1);
    --cyan-800: rgba(5, 81, 96, 1);
    --cyan-900: rgba(3, 40, 48, 1);
    --placeholderimage: rgba(248, 249, 250, 1);
    --placeholderavatar: rgba(255, 255, 255, 1);
    --componentsaccordionborder: rgba(0, 0, 0, 0.12);
    --componentsaccordionactive-item-header-background: rgba(231, 241, 255, 1);
    --componentsaccordionactive-item-header-text-color: rgba(12, 99, 228, 1);
    --componentsalertprimarytext: rgba(8, 66, 152, 1);
    --componentsalertprimarybackground: rgba(207, 226, 255, 1);
    --componentsalertprimaryborder: rgba(182, 212, 254, 1);
    --componentsalertprimarylink: rgba(6, 53, 122, 1);
    --componentsalertsecondarytext: rgba(65, 70, 75, 1);
    --componentsalertsecondarybackground: rgba(226, 227, 229, 1);
    --componentsalertsecondaryborder: rgba(211, 214, 216, 1);
    --componentsalertsecondarylink: rgba(52, 56, 60, 1);
    --componentsalertsuccesstext: rgba(15, 81, 50, 1);
    --componentsalertsuccessbackground: rgba(209, 231, 221, 1);
    --componentsalertsuccessborder: rgba(186, 219, 204, 1);
    --componentsalertsuccesslink: rgba(12, 65, 40, 1);
    --componentsalertdangertext: rgba(132, 32, 41, 1);
    --componentsalertdangerbackground: rgba(248, 215, 218, 1);
    --componentsalertdangerborder: rgba(245, 194, 199, 1);
    --componentsalertdangerlink: rgba(106, 26, 33, 1);
    --componentsalertwarningtext: rgba(102, 77, 3, 1);
    --componentsalertwarningbackground: rgba(255, 243, 205, 1);
    --componentsalertwarningborder: rgba(255, 236, 181, 1);
    --componentsalertwarninglink: rgba(82, 62, 2, 1);
    --componentsalertinfotext: rgba(5, 81, 96, 1);
    --componentsalertinfobackground: rgba(207, 244, 252, 1);
    --componentsalertinfoborder: rgba(182, 239, 251, 1);
    --componentsalertinfolink: rgba(4, 65, 77, 1);
    --componentsalertlighttext: rgba(99, 100, 100, 1);
    --componentsalertlightbackground: rgba(254, 254, 254, 1);
    --componentsalertlightborder: rgba(253, 253, 254, 1);
    --componentsalertlightlink: rgba(79, 80, 80, 1);
    --componentsalertdarktext: rgba(20, 22, 25, 1);
    --componentsalertdarkbackground: rgba(211, 211, 212, 1);
    --componentsalertdarkborder: rgba(188, 190, 191, 1);
    --componentsalertdarklink: rgba(16, 18, 20, 1);
    --componentsbuttonprimaryhovered-background: rgba(11, 94, 215, 1);
    --componentsbuttonprimaryhovered-border: rgba(10, 88, 202, 1);
    --componentsbuttonprimaryactive-background: rgba(10, 88, 202, 1);
    --componentsbuttonprimaryactive-border: rgba(10, 83, 190, 1);
    --componentsbuttonsecondaryhovered-background: rgba(92, 99, 106, 1);
    --componentsbuttonsecondaryhovered-border: rgba(86, 94, 100, 1);
    --componentsbuttonsecondaryactive-background: rgba(86, 94, 100, 1);
    --componentsbuttonsecondaryactive-border: rgba(81, 88, 94, 1);
    --componentsbuttonsuccesshovered-background: rgba(21, 115, 71, 1);
    --componentsbuttonsuccesshovered-border: rgba(20, 108, 67, 1);
    --componentsbuttonsuccessactive-background: rgba(20, 108, 67, 1);
    --componentsbuttonsuccessactive-border: rgba(19, 101, 63, 1);
    --componentsbuttondangerhovered-background: rgba(187, 45, 59, 1);
    --componentsbuttondangerhovered-border: rgba(176, 42, 55, 1);
    --componentsbuttondangeractive-background: rgba(176, 42, 55, 1);
    --componentsbuttondangeractive-border: rgba(165, 40, 52, 1);
    --componentsbuttonwarninghovered-background: rgba(255, 202, 44, 1);
    --componentsbuttonwarninghovered-border: rgba(255, 199, 32, 1);
    --componentsbuttonwarningactive-background: rgba(255, 205, 57, 1);
    --componentsbuttonwarningactive-border: rgba(255, 199, 32, 1);
    --componentsbuttoninfohovered-background: rgba(49, 210, 242, 1);
    --componentsbuttoninfohovered-border: rgba(37, 207, 242, 1);
    --componentsbuttoninfoactive-background: rgba(61, 213, 243, 1);
    --componentsbuttoninfoactive-border: rgba(37, 207, 242, 1);
    --componentsbuttonlighthovered-background: rgba(249, 250, 251, 1);
    --componentsbuttonlighthovered-border: rgba(249, 250, 251, 1);
    --componentsbuttonlightactive-background: rgba(249, 250, 251, 1);
    --componentsbuttonlightactive-border: rgba(249, 250, 251, 1);
    --componentsbuttondarkhovered-background: rgba(28, 31, 35, 1);
    --componentsbuttondarkhovered-border: rgba(26, 30, 33, 1);
    --componentsbuttondarkactive-background: rgba(26, 30, 33, 1);
    --componentsbuttondarkactive-border: rgba(25, 28, 31, 1);
    --componentsbuttonlinkhovered-text: rgba(10, 88, 202, 1);
    --componentscardborder: rgba(0, 0, 0, 0.17);
    --componentscardcaption-background: rgba(0, 0, 0, 0.03);
    --componentscheckboxborder: rgba(0, 0, 0, 0.15);
    --componentscheckboxfocused-border: rgba(134, 183, 254, 1);
    --componentsdropdownsborder: rgba(0, 0, 0, 0.15);
    --componentsdropdownslight-hovered-item-text: rgba(30, 33, 37, 1);
    --componentsdropdownsdark-hovered-item-background: rgba(255, 255, 255, 0.15);
    --componentsdividerdivider-background: rgba(33, 37, 41, 0.25);
    --componentslist-groupborder: rgba(0, 0, 0, 0.12);
    --componentsmodalborder: rgba(0, 0, 0, 0.2);
    --componentsnavs-tabslight-link: rgba(0, 0, 0, 0.55);
    --componentsnavs-tabslight-link-hovered: rgba(0, 0, 0, 0.7);
    --componentsnavs-tabslight-link-active: rgba(0, 0, 0, 0.9);
    --componentsnavs-tabslight-link-disabled: rgba(0, 0, 0, 0.3);
    --componentsnavs-tabsdark-link: rgba(255, 255, 255, 0.55);
    --componentsnavs-tabsdark-link-hovered: rgba(255, 255, 255, 0.75);
    --componentsnavs-tabsdark-link-active: rgba(255, 255, 255, 1);
    --componentsnavs-tabsdark-link-disabled: rgba(255, 255, 255, 0.25);
    --componentsnavs-tabslight-toggle-border: rgba(0, 0, 0, 0.1);
    --componentsnavs-tabsdark-toggle-border: rgba(255, 255, 255, 0.1);
    --componentspopoverborder: rgba(0, 0, 0, 0.2);
    --componentspopoverheader-background: rgba(240, 240, 240, 1);
    --componentstoastsbackground: rgba(255, 255, 255, 0.85);
    --componentstoastsborder: rgba(0, 0, 0, 0.1);
    --componentstoastsheader-border: rgba(0, 0, 0, 0.05);
    --componentsinputfocused-border: rgba(134, 183, 254, 1);
    --componentsrangeslider-background: rgba(222, 226, 230, 1);
    --componentstablesborder-dark: rgba(55, 59, 62, 1);
    --componentsoffcanvasborder: rgba(0, 0, 0, 0.2);
    --background-color1: rgba(49, 53, 63, 1);
    --text-100: rgba(255, 255, 255, 1);
    --text-10: rgba(158, 158, 158, 1);
    --secondary-100: rgba(30, 203, 79, 1);
    --white: rgba(255, 255, 255, 1);
    --stroke: rgba(228, 228, 228, 1);
    --sec-100: rgba(244, 109, 34, 1);
    --background-color2: rgba(27, 32, 40, 1);
    --main-100: rgba(58, 111, 248, 1);
    --mainlinear: rgba(58, 111, 248, 1);
    --body-regular-font-family: "Cairo", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 16px;
    --body-regular-letter-spacing: 0px;
    --body-regular-line-height: 150%;
    --body-regular-font-style: normal;
    --body-bold-font-family: "Cairo", Helvetica;
    --body-bold-font-weight: 700;
    --body-bold-font-size: 16px;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: 150%;
    --body-bold-font-style: normal;
    --body-light-font-family: "Cairo", Helvetica;
    --body-light-font-weight: 300;
    --body-light-font-size: 16px;
    --body-light-letter-spacing: 0px;
    --body-light-line-height: 150%;
    --body-light-font-style: normal;
    --body-italic-font-family: "Cairo", Helvetica;
    --body-italic-font-weight: 400;
    --body-italic-font-size: 16px;
    --body-italic-letter-spacing: 0px;
    --body-italic-line-height: 150%;
    --body-italic-font-style: italic;
    --body-underline-font-family: "Cairo", Helvetica;
    --body-underline-font-weight: 400;
    --body-underline-font-size: 16px;
    --body-underline-letter-spacing: 0px;
    --body-underline-line-height: 150%;
    --body-underline-font-style: normal;
    --body-strike-font-family: "Cairo", Helvetica;
    --body-strike-font-weight: 400;
    --body-strike-font-size: 16px;
    --body-strike-letter-spacing: 0px;
    --body-strike-line-height: 150%;
    --body-strike-font-style: normal;
    --body-small-font-family: "Cairo", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 14px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 150%;
    --body-small-font-style: normal;
    --body-code-font-family: "Cairo", Helvetica;
    --body-code-font-weight: 400;
    --body-code-font-size: 14px;
    --body-code-letter-spacing: 0px;
    --body-code-line-height: 150%;
    --body-code-font-style: normal;
    --body-lead-font-family: "Cairo", Helvetica;
    --body-lead-font-weight: 300;
    --body-lead-font-size: 20px;
    --body-lead-letter-spacing: 0px;
    --body-lead-line-height: 150%;
    --body-lead-font-style: normal;
    --body-blockquote-font-family: "Cairo", Helvetica;
    --body-blockquote-font-weight: 400;
    --body-blockquote-font-size: 20px;
    --body-blockquote-letter-spacing: 0px;
    --body-blockquote-line-height: 150%;
    --body-blockquote-font-style: normal;
    --heading-h1-font-family: "Cairo", Helvetica;
    --heading-h1-font-weight: 500;
    --heading-h1-font-size: 40px;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 120.00000476837158%;
    --heading-h1-font-style: normal;
    --heading-h2-font-family: "Cairo", Helvetica;
    --heading-h2-font-weight: 500;
    --heading-h2-font-size: 32px;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 120.00000476837158%;
    --heading-h2-font-style: normal;
    --heading-h3-font-family: "Cairo", Helvetica;
    --heading-h3-font-weight: 500;
    --heading-h3-font-size: 28px;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 120.00000476837158%;
    --heading-h3-font-style: normal;
    --heading-h4-font-family: "Cairo", Helvetica;
    --heading-h4-font-weight: 500;
    --heading-h4-font-size: 24px;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 120.00000476837158%;
    --heading-h4-font-style: normal;
    --heading-h5-font-family: "Cairo", Helvetica;
    --heading-h5-font-weight: 500;
    --heading-h5-font-size: 20px;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: 120.00000476837158%;
    --heading-h5-font-style: normal;
    --heading-h6-font-family: "Cairo", Helvetica;
    --heading-h6-font-weight: 500;
    --heading-h6-font-size: 16px;
    --heading-h6-letter-spacing: 0px;
    --heading-h6-line-height: 120.00000476837158%;
    --heading-h6-font-style: normal;
    --display-h1-font-family: "Cairo", Helvetica;
    --display-h1-font-weight: 300;
    --display-h1-font-size: 80px;
    --display-h1-letter-spacing: 0px;
    --display-h1-line-height: 120.00000476837158%;
    --display-h1-font-style: normal;
    --display-h2-font-family: "Cairo", Helvetica;
    --display-h2-font-weight: 300;
    --display-h2-font-size: 72px;
    --display-h2-letter-spacing: 0px;
    --display-h2-line-height: 120.00000476837158%;
    --display-h2-font-style: normal;
    --display-h3-font-family: "Cairo", Helvetica;
    --display-h3-font-weight: 300;
    --display-h3-font-size: 64px;
    --display-h3-letter-spacing: 0px;
    --display-h3-line-height: 120.00000476837158%;
    --display-h3-font-style: normal;
    --display-h4-font-family: "Cairo", Helvetica;
    --display-h4-font-weight: 300;
    --display-h4-font-size: 56px;
    --display-h4-letter-spacing: 0px;
    --display-h4-line-height: 120.00000476837158%;
    --display-h4-font-style: normal;
    --display-h5-font-family: "Cairo", Helvetica;
    --display-h5-font-weight: 300;
    --display-h5-font-size: 48px;
    --display-h5-letter-spacing: 0px;
    --display-h5-line-height: 120.00000476837158%;
    --display-h5-font-style: normal;
    --display-h6-font-family: "Cairo", Helvetica;
    --display-h6-font-weight: 300;
    --display-h6-font-size: 40px;
    --display-h6-letter-spacing: 0px;
    --display-h6-line-height: 120.00000476837158%;
    --display-h6-font-style: normal;
    --components-badge-h1-font-family: "Cairo", Helvetica;
    --components-badge-h1-font-weight: 700;
    --components-badge-h1-font-size: 30px;
    --components-badge-h1-letter-spacing: 0px;
    --components-badge-h1-line-height: 100%;
    --components-badge-h1-font-style: normal;
    --components-badge-h2-font-family: "Cairo", Helvetica;
    --components-badge-h2-font-weight: 700;
    --components-badge-h2-font-size: 24px;
    --components-badge-h2-letter-spacing: 0px;
    --components-badge-h2-line-height: 100%;
    --components-badge-h2-font-style: normal;
    --components-badge-h3-font-family: "Cairo", Helvetica;
    --components-badge-h3-font-weight: 700;
    --components-badge-h3-font-size: 21px;
    --components-badge-h3-letter-spacing: 0px;
    --components-badge-h3-line-height: 100%;
    --components-badge-h3-font-style: normal;
    --components-badge-h4-font-family: "Cairo", Helvetica;
    --components-badge-h4-font-weight: 700;
    --components-badge-h4-font-size: 18px;
    --components-badge-h4-letter-spacing: 0px;
    --components-badge-h4-line-height: 100%;
    --components-badge-h4-font-style: normal;
    --components-badge-h5-font-family: "Cairo", Helvetica;
    --components-badge-h5-font-weight: 700;
    --components-badge-h5-font-size: 15px;
    --components-badge-h5-letter-spacing: 0px;
    --components-badge-h5-line-height: 100%;
    --components-badge-h5-font-style: normal;
    --components-badge-h6-font-family: "Cairo", Helvetica;
    --components-badge-h6-font-weight: 700;
    --components-badge-h6-font-size: 12px;
    --components-badge-h6-letter-spacing: 0px;
    --components-badge-h6-line-height: 100%;
    --components-badge-h6-font-style: normal;
    --components-dropdowns-item-header-font-family: "Cairo", Helvetica;
    --components-dropdowns-item-header-font-weight: 500;
    --components-dropdowns-item-header-font-size: 14px;
    --components-dropdowns-item-header-letter-spacing: 0px;
    --components-dropdowns-item-header-line-height: 16.799999237060547px;
    --components-dropdowns-item-header-font-style: normal;
    --components-dropdowns-dropdown-header-font-family: "Cairo", Helvetica;
    --components-dropdowns-dropdown-header-font-weight: 500;
    --components-dropdowns-dropdown-header-font-size: 14px;
    --components-dropdowns-dropdown-header-letter-spacing: 0px;
    --components-dropdowns-dropdown-header-line-height: 16.799999237060547px;
    --components-dropdowns-dropdown-header-font-style: normal;
    --components-progress-label-font-family: "Cairo", Helvetica;
    --components-progress-label-font-weight: 400;
    --components-progress-label-font-size: 12px;
    --components-progress-label-letter-spacing: 0px;
    --components-progress-label-line-height: 18px;
    --components-progress-label-font-style: normal;
    --components-toast-header-title-font-family: "Cairo", Helvetica;
    --components-toast-header-title-font-weight: 700;
    --components-toast-header-title-font-size: 14px;
    --components-toast-header-title-letter-spacing: 0px;
    --components-toast-header-title-line-height: 21px;
    --components-toast-header-title-font-style: normal;
    --components-toast-header-time-font-family: "Cairo", Helvetica;
    --components-toast-header-time-font-weight: 400;
    --components-toast-header-time-font-size: 12.25px;
    --components-toast-header-time-letter-spacing: 0px;
    --components-toast-header-time-line-height: 18.375px;
    --components-toast-header-time-font-style: normal;
    --focus-form: 0px 0px 0px 3px rgba(0, 123, 255, 0.25);
    --success-form: 0px 0px 0px 3px rgba(40, 167, 69, 0.25);
    --danger-form: 0px 0px 0px 1px rgba(220, 53, 69, 1);
    --regular-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    --small-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    --larger-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.17);
    --active-shadow-primary: 0px 0px 0px 4px rgba(49, 132, 253, 0.5);
    --active-shadow-secondary: 0px 0px 0px 4px rgba(130, 138, 145, 0.5);
    --active-shadow-success: 0px 0px 0px 4px rgba(60, 153, 110, 0.5);
    --active-shadow-danger: 0px 0px 0px 4px rgba(225, 83, 97, 0.5);
    --active-shadow-warning: 0px 0px 0px 4px rgba(217, 164, 6, 0.5);
    --active-shadow-info: 0px 0px 0px 4px rgba(11, 172, 204, 0.5);
    --active-shadow-light: 0px 0px 0px 4px rgba(211, 212, 213, 0.5);
    --active-shadow-dark: 0px 0px 0px 4px rgba(66, 70, 73, 0.5);
    --active-shadow-link: 0px 0px 0px 4px rgba(13, 110, 253, 0.25);
    --active-shadow-outline-primary: 0px 0px 0px 4px rgba(13, 110, 253, 0.25);
    --active-shadow-outline-secondary: 0px 0px 0px 4px rgba(108, 117, 125, 0.5);
    --active-shadow-outline-success: 0px 0px 0px 4px rgba(25, 135, 84, 0.5);
    --active-shadow-outline-danger: 0px 0px 0px 4px rgba(220, 53, 69, 0.5);
    --active-shadow-outline-warning: 0px 0px 0px 4px rgba(255, 193, 7, 0.5);
    --active-shadow-outline-info: 0px 0px 0px 4px rgba(13, 202, 240, 0.5);
    --active-shadow-outline-light: 0px 0px 0px 4px rgba(248, 249, 250, 0.5);
    --active-shadow-outline-dark: 0px 0px 0px 4px rgba(33, 37, 41, 0.5);
    --components-navbar-light-toggler-active-border: 0px 0px 0px 4px
      rgba(0, 0, 0, 0.55);
    --components-navbar-dark-toggler-active-border: 0px 0px 0px 4px
      rgba(255, 255, 255, 0.55);
    --components-toasts-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    --components-tables-light-fixed-cell-shadow: 0px 4px 8px 0px
      rgba(0, 0, 0, 0.15);
    --components-tables-light-fixed-column-shadow: 0px 2px 8px 0px
      rgba(0, 0, 0, 0.15);
    --components-tables-dark-fixed-cell-shadow: 0px 4px 8px 0px
      rgba(255, 255, 255, 0.15);
    --components-tables-dark-fixed-column-shadow: 0px 2px 8px 0px
      rgba(255, 255, 255, 0.15);
  }
  