
/* variables */
:root {
  --hitbox: rgba(255, 255, 255, 0);
  --themeprimary: rgba(13, 110, 253, 1);
  --themesecondary: rgba(108, 117, 125, 1);
  --themesuccess: rgba(25, 135, 84, 1);
  --themedanger: rgba(220, 53, 69, 1);
  --themewarning: rgba(255, 193, 7, 1);
  --themeinfo: rgba(13, 202, 240, 1);
  --themelight: rgba(248, 249, 250, 1);
  --themedark: rgba(33, 37, 41, 1);
  --themeborder: rgba(222, 226, 230, 1);
  --body-textbody-color: rgba(33, 37, 41, 1);
  --background-color1: rgba(49, 53, 63, 1);
  --text-100: rgba(255, 255, 255, 1);
  --text-10: rgba(158, 158, 158, 1);
  --secondary-100: rgba(30, 203, 79, 1);
  --white: rgba(255, 255, 255, 1);
  --stroke: rgba(228, 228, 228, 1);
  --sec-100: rgba(244, 109, 34, 1);
  --background-color2: rgba(27, 32, 40, 1);
  --main-100: rgba(58, 111, 248, 1);
  --mainlinear: rgba(58, 111, 248, 1);
   
  }
  