/* import sections style */
@import url("./css/sidebar.css");
@import url("./css/header.css");
@import url("./css/portfolio.css");
@import url("./css/market.css");
@import url("./css/coin-card.css");
@import url("./css/chart.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #31353f;
}

.dashboard {
  display: flex;
  height: 100%;
}
.main {
  flex: 1;
  margin-left: 250px;
  display: flex;
  width: auto;
  overflow-y: auto;
  flex-direction: column;
}
.main .main-content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  overflow: hidden;
}

.main .main-content .bottom-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card-with-porftolio {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1400px) {
  .card-with-porftolio {
    flex-direction: row;
  }
}
.chart-with-market {
  display: inline-flex;
  flex-direction: column;
  height: 646px;
  align-items: flex-start;
  justify-content: space-between;
  overflow-x: scroll;
}


/* responsive media quieries */
@media (max-width: 1200px) {
  .sidebar {
    left: -250px;
  }
  .header-title {
    display: none;
  }
  .main {
    width: 100%;
    margin-left: 0;
  }
  .sidebar-toggler {
    display: block;
  }
  .header .search-bar {
    display: none;
  }
}

@media (max-width: 600px) {
  .user-setting .notifcations {
    display: none;
  }
}






/* global styling */
.text-wrapper {
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--text-100);
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-2 {
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-10);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-3 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-100);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-4 {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-10);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-5 {
  width: fit-content;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--secondary-100);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 22.5px;
  white-space: nowrap;
}

.text-wrapper-6 {
  width: fit-content;
  margin-top: -1px;
  opacity: 0.6;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: normal;
}

.text-wrapper-7 {
  width: 65px;
  height: 30px;
  margin-top: -1px;
  font-family: "Poppins-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: var(--white);
  font-size: 19.9px;
  text-align: right;
  letter-spacing: 0.6px;
  line-height: normal;
}

.text-wrapper-8 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--sec-100);
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.text-wrapper-9 {
  width: fit-content;
  margin-top: -1px;
  opacity: 0.6;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--stroke);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-10 {
  font-size: 18px;
  line-height: normal;
  position: relative;
  width: fit-content;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--stroke);
  letter-spacing: 0;
}
.text-wrapper-11 {
  width: fit-content;
  margin-top: -0.4px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--stroke);
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--text-10);
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.text-wrapper-13 {
  margin-top: -1px;
  opacity: 0.6;
  font-size: 10px;
  text-align: center;
  line-height: 22px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--stroke);
  letter-spacing: 0;
}

/* start coin logo  */
.card-logo {
  display: flex;
  width: 119px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.card-logo .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 10px;
}

.icon-wrapper {
  position: relative;
  width: 44px;
  height: 44px;
  background-color: var(--background-color1);
  border-radius: 10px;
}

.card-logo .title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.card-logo .title .main-title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.card-logo .title .subtitle {
  position: relative;
  width: fit-content;
  opacity: 0.6;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-100);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}
/* end coin logo  */

.small-icon {
  position: relative;
  width: 18px;
  height: 18px;
}

.div-3 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}
